---
layout: default
---
<!-- page.html -->
<script>
  function calcularDuracao(desde, encerramento) {
    var inicio = new Date(desde);
    var fim = encerramento ? new Date(encerramento) : new Date();
    var diferencaEmMeses = (fim.getFullYear() - inicio.getFullYear()) * 12 + fim.getMonth() - inicio.getMonth();
    var anos = Math.floor(diferencaEmMeses / 12);
    var meses = diferencaEmMeses % 12;
    return `${anos} ano(s) e ${meses} mes(es)`;
  }
  
  document.addEventListener('DOMContentLoaded', function() {
    var desde = '{{ page.desde }}';
    var encerramento = '{{ page.encerramento }}';
    var duracaoTexto = calcularDuracao(desde, encerramento);
    document.getElementById('projetoDuracao').innerText = 'Duração do Projeto: ' + duracaoTexto;
  });
  </script>
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">Projeto: {{ page.title }}</h1>
            <p class="post-description">{{ page.description }} <br>
              {% if page.encerramento == null or page.encerramento == "" %}
                Status: <strong>ATIVO</strong> -- Desde: {{ page.desde | date: "%d/%m/%Y" }}
              {% else %}
                Status: <strong>ENCERRADO em: {{ page.encerramento | date: "%d/%m/%Y" }}</strong> -- De: {{ page.desde | date: "%d/%m/%Y" }}
              {% endif %}
              <br> <div class="post-description" id="projetoDuracao"></div>
            </p>
          </header>

          <article>
          {% if page.img -%}
          <div class="profile float-right">
               {%- assign profile_image_path = page.img -%}
               {%- assign profile_image_class = "img-fluid  rounded" -%}
  
                {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=page.profile.image -%}
            </div>
            {%- endif %}

            {{ content }}

            <h2>Equipe</h2>

            <!-- pages/equipe.md -->
            <div class="equipe">
            {%- if page.projeto %}
              <!-- Display categorized team -->
              {%- assign categorized_equipe = site.equipe | where: "projeto", page.projeto -%}
              {%- assign sorted_equipe = categorized_equipe | sort: "importance" %}
              <!-- Generate cards for each member -->
              {% if page.horizontal -%}
              <div class="container">
                <div class="row row-cols-2">
                {%- for member in sorted_equipe -%}
                  {% include equipe_horizontal.html %}
                {%- endfor %}
                </div>
              </div>
              {%- else -%}
              <div class="grid">
                {%- for member in sorted_equipe -%}
                  {% include equipe.html %}
                {%- endfor %}
              </div>
              {%- endif -%}
            
            
            {%- else -%}
            <!-- Display members without categories -->
              {%- assign sorted_members = site.equipe | sort: "importance" -%}
              <!-- Generate cards for each member -->
              {% if page.horizontal -%}
              <div class="container">
                <div class="row row-cols-4">
                {%- for member in sorted_members -%}
                  {% include equipe_horizontal.html %}
                {%- endfor %}
                </div>
              </div>
              {%- else -%}
              <div class="grid">
                {%- for member in sorted_members -%}
                  {% include equipe.html %}
                {%- endfor %}
              </div>
              {%- endif -%}
            {%- endif -%}
            </div>
            
            <!-- END EQUIPE -->

{%- assign all_ex_alunos = site.equipe | concat: site.equipe_old -%}
{%- assign filtered_ex_alunos = all_ex_alunos | where: "ex-projeto", page.projeto -%}
{%- assign sorted_ex_alunos = filtered_ex_alunos | sort: "importance" -%}

{% if sorted_ex_alunos.size > 0 %}
  <h2>Antigos integrantes da equipe</h2>
  <div class="equipe">
    <!-- Generate cards for each ex-student -->
    {% if page.horizontal %}
      <div class="container">
        <div class="row row-cols-2">
          {% for member in sorted_ex_alunos %}
            {% include equipe_horizontal.html %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="grid">
        {% for member in sorted_ex_alunos %}
          {% include equipe.html %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}


          </article>

        </div>
